<div style="border: 1px solid red; width: 100%; margin: 0 auto;">
  <mat-toolbar class="toolbar mat-elevation-z8" color="primary">
    <button
      class="action-button"
      mat-icon-button
      [matMenuTriggerFor]="userMenu"
    >
      <mat-icon>person_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Upload PDF</button>
      <button mat-menu-item>Settings</button>
    </mat-menu>
  </mat-toolbar>
</div>
