<mat-progress-spinner
  *ngIf="!dataSource || dataSource.data.length < 1"
  mode="indeterminate"
  [diameter]="100"
  [style.color]="'lightblue'"
></mat-progress-spinner>

<div class="table">
  <mat-form-field appearance="outline" class="filter ">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Type to search..."
      [(ngModel)]="filterValue"
    />
    <button class="clear-button" mat-icon-button matSuffix (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <!-- Existing columns -->
    <ng-container matColumnDef="userID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
      <td mat-cell *matCellDef="let record">{{ record.UID }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let record">
        {{ record.firstName }}&nbsp;{{ record.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let record">{{ record.address }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let record">{{ record.city }}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let record">{{ record.state }}</td>
    </ng-container>

    <ng-container matColumnDef="zip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip</th>
      <td mat-cell *matCellDef="let record">{{ record.zip }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let record">{{ record.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let record">
        <button
          mat-icon-button
          (click)="showDetailView(record)"
          title="view record"
        >
          <mat-icon>person</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let record"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            record === expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <!-- Place your expanded content here -->
          <div class="example-element-description">
            <p>
              Total Annual Salary: {{ totalAnnualSalary(record.salary) |
              currency }}
            </p>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Rows -->
    <tr
      mat-row
      style="z-index: 100"
      *matRowDef="let record; columns: displayedColumns"
      (click)="expandRow(record)"
    ></tr>
    <tr
      mat-row
      [@detailExpand]="expandedElement === record ? 'expanded' : 'collapsed'"
      *matRowDef="let record; columns: ['expandedDetail']"
    ></tr>
  </table>

  <mat-paginator
    class="mat-elevation-z8"
    [length]="totalRecords"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  ></mat-paginator>
  <div class="generate">
    <button mat-button (click)="generate(10000)">10K</button>
    <button mat-button (click)="generate(100000)">100K</button>
    <button mat-button (click)="generate(1000000)">1M</button>
  </div>
  <div *ngIf="time">
    Mock record set of {{ dataSource.data.length }} records created in {{
    time.getSeconds() }} seconds.
  </div>
</div>
